/upgrade/
/assets/elfinder/
/functions/aten.php
/functions/rest.php
/functions/fortigate.php
/functions/cwispy_snmp.php
/Ispconfig_files/
/ispcfg3.2.php
/ispconfig.php.bak
/hooks.2.php
/ispcfg3.old.php